[Desktop Entry]
Encoding=UTF-8
Name=EiniaOraCoin
Comment=EiniaOraCoin P2P Cryptocurrency
Comment[fr]=EiniaOraCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=EiniaOraCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/EiniaOraCoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/EiniaOraCoin;
Categories=Office;
